# Lab 13 (4/13): Lists, Iteration, and Recursion

### Web pages
Course page: https://ambujtewari.github.io/teaching/STATS306-Winter2020/

Lab page: https://rogerfan.github.io/stats306_w20/

### Office Hours
    Mondays: 2-4pm, USB 2165
    
### Contact
    Questions on problems: Use the slack discussions
    If you need to email me, include in the subject line: [STATS 306]
    Email: rogerfan@umich.edu

In [10]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Vectors and Lists

**Vectors** are sequences of objects, all of which have the same type. Recall that we can assign these with the `c()` operator:
```
x = c(1, 2, 3, 4)
x = 1:4
x = c('a', 'b', 'c')


```

We can also name the entries in a vector either while assigning or by using the `names()` function:
```
x = c(a=1, b=2, c=3)

x = c(1, 2, 3)
names(x) = c('a', 'b', 'c')
```

**Lists** are also sequences, but the elements of a list are allowed to be different data types (including vectors or even other lists). Like with vectors, list elements can be named.

In [52]:
x = list(a='a', b=FALSE, c=pi, d=1:3)
print(x)
print(names(x))

$a
[1] "a"

$b
[1] FALSE

$c
[1] 3.141593

$d
[1] 1 2 3

[1] "a" "b" "c" "d"

There are three ways to subset or extract elements from a list:
* `[...]` will extract a sublist. Note that the result of this will always be another list. Integer, logical, or character vectors can be used.
* `[[...]]` will extract a single element. Either the index or name of the desired element can be provided.
* `$a` will also extract a single element. Note that this requires a named list, and the name must be used.

In [44]:
print(x[1:2])

$a
[1] "a"

$b
[1] FALSE

In [49]:
print(x['a'])

$a
[1] "a"

In [48]:
print(x[['a']])

[1] "a"

In [51]:
print(x$a)

[1] "a"

Note that dataframes (and tibbles) are basically just lists with some extra features. Here the `names()` correspond to columns, where each element is a vector.

In [3]:
head(cars)

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [8]:
cars$speed
cars[['speed']]
cars[[1]]

 [1]  4  4  7  7  8  9 10 10 10 11 11 12 12 12 12 13 13 13 13 14 14 14 14 15 15
[26] 15 16 16 17 17 17 18 18 18 18 19 19 19 20 20 20 20 20 22 23 24 24 24 24 25

 [1]  4  4  7  7  8  9 10 10 10 11 11 12 12 12 12 13 13 13 13 14 14 14 14 15 15
[26] 15 16 16 17 17 17 18 18 18 18 19 19 19 20 20 20 20 20 22 23 24 24 24 24 25

 [1]  4  4  7  7  8  9 10 10 10 11 11 12 12 12 12 13 13 13 13 14 14 14 14 15 15
[26] 15 16 16 17 17 17 18 18 18 18 19 19 19 20 20 20 20 20 22 23 24 24 24 24 25

## Iteration

The two main ways of iterating in R are `for` and `while` loops.

```
for (index in vector) {
    [do something for each index]
}
```

```
while (condition) {
    [do something]
}
```

Note that when using a `while` loop it will keep running as long as the condition is `TRUE`, so you want to make certain that eventually whatever you do in the loop will make the condition become `FALSE`, or else it will loop forever.

In [10]:
# Calculate 10!

result = 1
for (i in 1:10) {
    result = result * i
}
print(result)

result = 1
i = 1
while (i <= 10) {
    result = result * i
    i = i + 1
}
print(result)

[1] 3628800
[1] 3628800

In [12]:
# Highest power of 2 less than 100000
curr = 2
while (curr <= 100000) {
    curr = curr * 2
}
print(curr / 2)

[1] 65536

In [18]:
mysum = function(vec) {
    result = 0
    for (x in vec) {
        result = result + x
    }
    result
}

cumsum = function(vec) {
    results = rep(NA, length(vec))
    curr = 0
    for (ind in 1:length(vec)) {
        curr = curr + vec[ind]
        results[ind] = curr
    }
    results
}

mysum(c(1, 5, 2, 3, 7, 5))
cumsum(c(1, 5, 2, 3, 7, 5))

[1] 23

[1]  1  6  8 11 18 23

## Recursion

Recursion is a coding pattern where a function uses itself when doing it's operations. It is usually an alternative to using iteration, and often makes sense to use when a problem can be easily broken down into smaller sub-problems.

There are two parts of a good recursive function:
1. The base case(s). What are simplest subproblems that have known answers?
2. The recursive step. How do you take a bigger problem and break it down into one or more smaller problems.

In [15]:
factorial = function(n) {
    if (n == 0) return(1)      # base case
    
    return(n * factorial(n-1))  # recursive step
}

factorial(10)

[1] 3628800

In [4]:

reverse = function(vec) {
    if (length(vec) == 1) return(vec)
    
    end = vec[length(vec)]
    rest = vec[1:(length(vec)-1)]
    
    return(c(end, reverse(rest)))
}

reverse(c(1, 2, 3, 4))

[1] 4 3 2 1

## Q1: Given a vector `x`, write a function that calculates the sum of the squared odd entries.

For example:
```
f(c(1, 2, 3, 4, 5) == 1^2 + 3^2 + 5^2 == 35
f(c(2, 4, 6)) == 0
```

In [19]:
f_loop = function(x) {
    res = 0
    for (val in x) {
        if (val %% 2 == 1) {
            res = res + val^2
        }
    }
    return(res)
}

In [122]:
stopifnot(f_loop(c(1, 2, 3, 4, 5)) == 35)

stopifnot(f_loop(c(2, 4, 6)) == 0)

## Q2: Use a loop to do the following, storing the result in a vector.

1. Compute the mean of every column in `airquality` ignoring missing values.
2. Compute the number of unique values in each column of `iris`.

In [8]:
# Q2.1
airquality_mean = rep(NA, ncol(airquality))
for (i in seq_along(airquality)){
    airquality_mean[i] = mean(airquality[[i]], na.rm=TRUE)
}
airquality_mean

[1]  42.129310 185.931507   9.957516  77.882353   6.993464  15.803922

In [11]:
# Q2.2
iris_uniq <- rep(NA, ncol(iris))
for (i in seq_along(iris)){
    iris_uniq[i] = n_distinct(iris[[i]])  #length(unique(iris[[i]]))
}
iris_uniq

[1] 35 23 43 22  3

## Q4: Recursion

Suppose Roger can climb either 1 or 2 steps at a time. Consider a function that returns how many ways Roger fan climb up `n` steps. For example, if `n=3`, then there are 3 ways: `(1, 1, 1)`, `(1, 2)`, or `(2, 1)`.

Write a function that performs this calculation using recursion:

In [12]:
nways = function(n){
    if (n == 1) return(1)
    if (n == 2) return(2)

    return(nways(n-1) + nways(n-2))
}
nways(10)

[1] 89