# Lab 1 (1/13): Introduction

### Web pages
Course page: https://ambujtewari.github.io/teaching/STATS306-Winter2020/

Lab page: https://rogerfan.github.io/stats306_w20/

### Office Hours
    Mondays: 2-4pm, USB 2165
    
### Contact
    Questions on problems: Use the slack discussions
    If you need to email me, include in the subject line: [STATS 306]
    Email: rogerfan@umich.edu

## Installing R and the Jupyter Notebook

Refer to the instructions [here](https://github.com/rogerfan/stats306_w20/blob/master/install_R_jupyter.md).

Alternatively, once you've downloaded and installed the Anaconda Python 3.x distribution from <https://www.anaconda.com/download/>, you can:
-  *windows* -- start up Anaconda Prompt
-  *linux/macOS* -- start up your terminal

And type 

    conda install -c r r-essentials r-irkernel r-tidyverse

Now you are ready to play around with a Jupyter notebook!

You can startup your notebook through the Anaconda Navigator or by typing 

    jupyter notebook

into the prompt.

## Running Jupyter Notebooks in the cloud

1. Download the desired jupyter notebook file (`.ipynb`), for instance a homework template or a lab notebook.
2. Go to https://colab.research.google.com/
3. Click "Upload" or go to File->Upload Notebook.
4. Navigate to the notebook you downloaded.
5. This will upload a copy of the notebook to Google Drive that you can then run through colab (remember to save!). Whenever you return you should be able to find your notebooks in File->Open Notebook->Google Drive.

## Introduction to R

In [ ]:
# options(repr.plot.width=10, repr.plot.height=8)

require(tidyverse)

### Assignment and operations

In [ ]:
x <- 4
x = 4    # I personally prefer this
y = 3.5
z = 'hello'

res = 3*x^2/y + 2

print(x)
print(z)
print(res)

### Using functions

In [ ]:
?sqrt     # Look up documentation

In [ ]:
sqrt(5)

### Vectors

In [ ]:
vec1 = c(1, 3, 5)
vec2 = c(vec1, 6, 7, c(8, 9))

vec1
vec2

In [ ]:
vec2[2:4]
vec2[c(2, 4, 6)]

In [ ]:
vec1 + 3
sqrt(vec1)

In [ ]:
length(vec1)
min(vec1)
mean(vec1)
sum(vec1)

### Logical operations

In [ ]:
a = TRUE
b = c(TRUE, FALSE)

a
!a
!b

In [ ]:
x = c(1, 3, 5)
y = c(2, 3, 4)

x == y
x != y
x > y
x >= y

In [ ]:
(3>2) | (1 == 0)
(3>2) & (1 == 0)

In [ ]:
c = c(TRUE, TRUE, FALSE)
d = c(TRUE, FALSE, FALSE)
c & d
c | d

### Data

In [ ]:
dat = tibble(
  name = c('Roger', 'Enes', 'Yifan', 'Ambuj'), 
  grade = c(80, 90, 70, 100), 
  age = c(28, 15, 33, 82),
  extra_cred = c(3, 5, 1, 3),
  lab = c('a', 'b', 'a', 'b')
)

In [ ]:
print(dat)

In [ ]:
dat$name
dat$grade

In [ ]:
dat$final_score = dat$grade + dat$extra_cred
print(dat)

## Data

In [ ]:
print(diamonds)

In [ ]:
head(diamonds)

In [ ]:
summary(diamonds)

## Creating a plot

In [ ]:
ggplot(data=diamonds, mapping=aes(x=carat, y=price)) + 
    geom_point()

In [ ]:
ggplot(data=diamonds, aes(x=carat, y=price, color=clarity)) + 
    geom_point(alpha=0.6) +
    facet_wrap(~cut, ncol=3) +
    labs(x='Carats', y='Price($)') +
    ggtitle('Diamond size by carat')