# Lab 12 (4/6): Functions

### Web pages
Course page: https://ambujtewari.github.io/teaching/STATS306-Winter2020/

Lab page: https://rogerfan.github.io/stats306_w20/

### Office Hours
    Mondays: 2-4pm, USB 2165
    
### Contact
    Questions on problems: Use the slack discussions
    If you need to email me, include in the subject line: [STATS 306]
    Email: rogerfan@umich.edu

In [1]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In this lecture we will learn about functions. We already have plenty of experience calling functions in order to mutate, plot, and explore data. Now we will learn how and when to write our own functions.

## Functions

Recall that we can write functions when we find ourselves repeating the same operations multiple times.

In [2]:
df = tibble::tibble(
  a = rnorm(10),
  b = rnorm(10),
  c = rnorm(10),
  d = rnorm(10)
)

print(df)

# A tibble: 10 x 4
         a       b        c       d
     <dbl>   <dbl>    <dbl>   <dbl>
 1  0.896   1.27   -1.45     0.716
 2  1.94   -0.684  -1.11     1.55
 3 -0.597   0.564  -1.24     0.954
 4  0.204   1.06    0.964    0.140
 5  1.12   -0.874   1.39    -0.0908
 6  0.737  -0.924   1.49    -1.03
 7  0.169  -0.672  -0.504   -0.317
 8  0.0355  0.0949 -0.00978  1.11
 9 -0.970  -0.194   1.19    -1.29
10 -0.0673  0.179   0.429   -0.0989

In [3]:
df2 = df %>% 
    mutate(a = (a-min(a))/(max(a)-min(a)),
           b = (b-min(b))/(max(b)-min(b)),
           c = (c-min(c))/(max(c)-min(c)),
           d = (d-min(d))/(max(d)-min(d)))
 
print(df2)

# A tibble: 10 x 4
       a      b      c      d
   <dbl>  <dbl>  <dbl>  <dbl>
 1 0.641 1      0      0.706
 2 1     0.110  0.115  1
 3 0.128 0.678  0.0694 0.790
 4 0.404 0.904  0.822  0.503
 5 0.720 0.0229 0.967  0.422
 6 0.587 0      1      0.0918
 7 0.391 0.115  0.322  0.342
 8 0.346 0.464  0.490  0.845
 9 0     0.332  0.900  0
10 0.310 0.502  0.640  0.419

In [4]:
rescale01 = function(x) {
    (x - min(x, na.rm = TRUE)) / (max(x, na.rm = TRUE) - min(x, na.rm = TRUE))
}

df2 = df %>%
    mutate(a=rescale01(a), b=rescale01(b), c=rescale01(c), d=rescale01(d))

print(df2)

# A tibble: 10 x 4
       a      b      c      d
   <dbl>  <dbl>  <dbl>  <dbl>
 1 0.641 1      0      0.706
 2 1     0.110  0.115  1
 3 0.128 0.678  0.0694 0.790
 4 0.404 0.904  0.822  0.503
 5 0.720 0.0229 0.967  0.422
 6 0.587 0      1      0.0918
 7 0.391 0.115  0.322  0.342
 8 0.346 0.464  0.490  0.845
 9 0     0.332  0.900  0
10 0.310 0.502  0.640  0.419

### Function definition syntax

myfunction = function(arg1, arg2, ... ){
    statements
    return(object)
}

## Conditional execution
Often when writing functions we need to do different things depending on what data is passed in. This is known as *conditional execution*, and is accomplished using the `if/else` construct:
```{r}
if (condition) {
  # code executed when condition is TRUE
} else {
  # code executed when condition is FALSE
}
```

### Example
The *Heaviside step function* is defined as
$$H(x)=\begin{cases}0,&x\le 0\\
1,&\text{otherwise}
\end{cases}.$$
How can we code this as an R function?

In [5]:
H = function(x) {
    if (x <= 0) {
        return(0)
    } else {
        return(1)
    }
}
H(-1)
H(0)
H(1)

[1] 0

[1] 0

[1] 1

In [6]:
H2 = function(x) {
    ifelse(x <= 0, 0, 1)
}

H2(c(-1, 0, 1))

[1] 0 0 1

### Multiple conditions
Sometimes you will want to check multiple conditions using an `if` statement. For example, let's define the function $$\operatorname{sgn}(x) = \begin{cases}-1,&x<0\\0,&x=0\\1,&x>0.\end{cases}$$

In [7]:
sgn = function(x) {
    if (x < 0) {
        return(-1)
    } else if (x == 0) {
        return(0)
    } else {
        return(1)
    }
}

The general form is
```{r}
if (condition1) {
  # do something
} else if (condition2) {
  # do something else
} else {
  # do another thing
}
```

### Brackets
Both `function` and `if` are usually called using the curly bracket delimiters `{` and `}`. For one-line statements, the brackets are optional:

In [8]:
if (TRUE) { 
    print("A1") 
} else { 
    print("B") 
}
if (TRUE) print("A2") else print("B")

[1] "A1"
[1] "A2"

In [9]:
square = function(x) {
    return(x*x)
}

square = function(x) x*x

You should almost always use the curly braces. One exception is for very brief, unnamed functions. We'll see some examples of this next week when we study map/reduce computations.

## Function arguments
Functions can take multiple arguments. Generally they fall into one of two categories:
* *Data* to be processed by the function, and
* *Options*, which affect how the data gets processed.

```{r}
mean(x, na.rm=TRUE)
log(x, base=y)
str_c(..., sep=" ")
```
What is/are the data? What are the options?

### Rules for function arguments
Generally:
1. The *data* parameters should come first; and
2. The *options* should come second, and have sensible defaults.

Default parameter values are specified by the `option=default` notation:

In [10]:
mean_ci = function(x, conf=0.95) {
    se = sd(x) / sqrt(length(x))
    alpha = 1 - conf
    mean(x) + se * qnorm(c(alpha / 2, 1 - alpha / 2))
}

When you call a function, you can omit the values of the default arguments. If overriding the default, you should specify the parameter you are overriding and then input the overridden value with an ` = ` in between:
```{r}
mean_ci(c(1, 2, 3, 4))              # uses default value
mean_ci(c(1, 2, 3, 4), conf = .99)  # ok
mean_ci(c(1, 2, 3, 4), conf=.99)    # ok
mean_ci(c(1, 2, 3, 4), .99)         # dangerous
```

### Validation
When writing functions it's a good idea to *validate* the input -- that is, make sure it matches your assumptions about what is being passed to the function. Consider the following function which returns the weighted average of a vector:

In [11]:
w_mean = function(x, w) {
    sum(x * w) / sum(w)
}

This function relies implicitly on the fact that the weight vector `w` is the same length as the input vector `x`. If it's not, you'll get a warning and unexpected behavior.

In [12]:
w_mean(c(1,2,3), w=c(1, 2))

Warning message in x * w:
“longer object length is not a multiple of shorter object length”

[1] 2.666667

It's best to make the assumption of equal length explicit by checking it:

In [13]:
w_mean = function(x, w) {
    stopifnot(length(w) == length(x))
    (x * w) / sum(w)
}

Now:

In [14]:
w_mean(c(1,2,3), c(1, 2))

ERROR: Error in w_mean(c(1, 2, 3), c(1, 2)): length(w) == length(x) is not TRUE

In [15]:
w_mean = function(x, w) {
    if (length(w) != length(x)) {
        stop('length of data and weight vector do not match')
    }
    (x * w) / sum(w)
}

w_mean(c(1,2,3), c(1, 2))

ERROR: Error in w_mean(c(1, 2, 3), c(1, 2)): length of data and weight vector do not match

Adding comments is another good way to make sure that you don't encounter unexpected situations in your functions:

In [16]:
w_mean = function(x, w) {
    # Return the average of `x` weighted by weight vector `w`
    stopifnot(length(w) == length(x))
    (x * w) / sum(w)
}

###  Dot-dot-dot (`…`)
Some functions are designed to take a variable number of inputs. We saw this for example with the `str_c` function:

In [17]:
# stringr::str_c("a", "b", "c")

str_c('a', 'b', 'c', sep=' ')

[1] "a b c"

To construct a function that takes a variable number of arguments we use the `...` notation:
```{r}
f = function(...) {
    <do something with variable arguments>
}
```

One thing you can do with the `...` is pass it to another function that takes a variable number of inputs.

In [18]:
commas <- function(...) {
    stringr::str_c(..., collapse = ", ")
}
commas(letters[1:10])

[1] "a, b, c, d, e, f, g, h, i, j"

You can also access individual arguments in `...` using the `list(...)` notation. We'll learn more about lists in the next lecture.

In [19]:
test = function(...) {
    print(list(...))
}

test(3, 5, a=4, b=6)

[[1]]
[1] 3

[[2]]
[1] 5

$a
[1] 4

$b
[1] 6

## Return values
Thus far we have relied on the default behavior of R, which is to return the last value in the function:

In [20]:
f = function() {
    1
    2
    3  # this will be returned
}
f()

[1] 3

In [23]:
fact = function(n) {
    
    if (n == 1){
        return(1)
    }
    
    return(n * fact(n-1)) 
}

fact(5)

[1] 120

In more complicated functions you'll need to manually return values using the `return()` function. As an example:
```{r}
complicated_function <- function(x, y, z) {
  if (length(x) == 0 || length(y) == 0) {
      return(0)  # this immediately returns and halts the function.
  }
  # Complicated code here
  return(object)
}
```

### Pipeable functions
We've seen a lot of uses of the pipe operator `%>%`. As you become more advanced, you may find it useful to create your own functions which can be used in data pipelines.

#### Transformations
For pipeable functions that transform a data frame, simply return the altered version of the data frame. For example:

In [24]:
first_row <- function(df, n=1) {
    df %>% slice(n)
}

mydf = tibble(x=c(1,2,3), y=c("a","b","c"))
print(mydf)

mydf %>% first_row()
mydf %>% first_row(3)

# A tibble: 3 x 2
      x y
  <dbl> <chr>
1     1 a
2     2 b
3     3 c

  x y
1 1 a

  x y
1 3 c

#### Side effects
Some functions have *side effects* but don't modify the original data frame. For example, consider the following function which counts how many missing values are present in a data frame:

In [25]:
show_missings = function(df) {
  n <- sum(is.na(df))
  cat("Missing values: ", n, "\n", sep = "")
  df  # note return value
}

This function works but has the undesirable effect of printing the whole data frame when it returns:

In [26]:
show_missings(mpg)

Missing values: 0

    manufacturer model              displ year cyl trans      drv cty hwy fl
1   audi         a4                 1.8   1999 4   auto(l5)   f   18  29  p
2   audi         a4                 1.8   1999 4   manual(m5) f   21  29  p
3   audi         a4                 2.0   2008 4   manual(m6) f   20  31  p
4   audi         a4                 2.0   2008 4   auto(av)   f   21  30  p
5   audi         a4                 2.8   1999 6   auto(l5)   f   16  26  p
6   audi         a4                 2.8   1999 6   manual(m5) f   18  26  p
7   audi         a4                 3.1   2008 6   auto(av)   f   18  27  p
8   audi         a4 quattro         1.8   1999 4   manual(m5) 4   18  26  p
9   audi         a4 quattro         1.8   1999 4   auto(l5)   4   16  25  p
10  audi         a4 quattro         2.0   2008 4   manual(m6) 4   20  28  p
11  audi         a4 quattro         2.0   2008 4   auto(s6)   4   19  27  p
12  audi         a4 quattro         2.8   1999 6   auto(l5)   4   15  25  p
13  audi         a4 quattro         2.8   1999 6   manual(m5) 4   17  25  p
14  audi         a4 quattro         3.1   2008 6   auto(s6)   4   17  25  p
15  audi         a4 quattro         3.1   2008 6   manual(m6) 4   15  25  p
16  audi         a6 quattro         2.8   1999 6   auto(l5)   4   15  24  p
17  audi         a6 quattro         3.1   2008 6   auto(s6)   4   17  25  p
18  audi         a6 quattro         4.2   2008 8   auto(s6)   4   16  23  p
19  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
20  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   11  15  e
21  chevrolet    c1500 suburban 2wd 5.3   2008 8   auto(l4)   r   14  20  r
22  chevrolet    c1500 suburban 2wd 5.7   1999 8   auto(l4)   r   13  17  r
23  chevrolet    c1500 suburban 2wd 6.0   2008 8   auto(l4)   r   12  17  r
24  chevrolet    corvette           5.7   1999 8   manual(m6) r   16  26  p
25  chevrolet    corvette           5.7   1999 8   auto(l4)   r   15  23  p
26  chevrolet    corvette           6.2   2008 8   manual(m6) r   16  26  p
27  chevrolet    corvette           6.2   2008 8   auto(s6)   r   15  25  p
28  chevrolet    corvette           7.0   2008 8   manual(m6) r   15  24  p
29  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   14  19  r
30  chevrolet    k1500 tahoe 4wd    5.3   2008 8   auto(l4)   4   11  14  e
⋮   ⋮            ⋮                  ⋮     ⋮    ⋮   ⋮          ⋮   ⋮   ⋮   ⋮
205 toyota       toyota tacoma 4wd  3.4   1999 6   auto(l4)   4   15  19  r
206 toyota       toyota tacoma 4wd  4.0   2008 6   manual(m6) 4   15  18  r
207 toyota       toyota tacoma 4wd  4.0   2008 6   auto(l5)   4   16  20  r
208 volkswagen   gti                2.0   1999 4   manual(m5) f   21  29  r
209 volkswagen   gti                2.0   1999 4   auto(l4)   f   19  26  r
210 volkswagen   gti                2.0   2008 4   manual(m6) f   21  29  p
211 volkswagen   gti                2.0   2008 4   auto(s6)   f   22  29  p
212 volkswagen   gti                2.8   1999 6   manual(m5) f   17  24  r
213 volkswagen   jetta              1.9   1999 4   manual(m5) f   33  44  d
214 volkswagen   jetta              2.0   1999 4   manual(m5) f   21  29  r
215 volkswagen   jetta              2.0   1999 4   auto(l4)   f   19  26  r
216 volkswagen   jetta              2.0   2008 4   auto(s6)   f   22  29  p
217 volkswagen   jetta              2.0   2008 4   manual(m6) f   21  29  p
218 volkswagen   jetta              2.5   2008 5   auto(s6)   f   21  29  r
219 volkswagen   jetta              2.5   2008 5   manual(m5) f   21  29  r
220 volkswagen   jetta              2.8   1999 6   auto(l4)   f   16  23  r
221 volkswagen   jetta              2.8   1999 6   manual(m5) f   17  24  r
222 volkswagen   new beetle         1.9   1999 4   manual(m5) f   35  44  d
223 volkswagen   new beetle         1.9   1999 4   auto(l4)   f   29  41  d
224 volkswagen   new beetle         2.0   1999 4   manual(m5) f   21  29  r
225 volkswagen   new beetle         2.0   1999 4   auto(l4)   f   19  26  r
226 volkswagen   new beetle         2.5   2008 5   manual(m5) f   20  28  r
227 volkswagen   new beetle         2.5   2008 5   auto(s6)   f   20  29  r
228 volkswagen   passat             1.8   1999 4   manual(m5) f   21  29  p
229 volkswagen   passat             1.8   1999 4   auto(l5)   f   18  29  p
230 volkswagen   passat             2.0   2008 4   auto(s6)   f   19  28  p
231 volkswagen   passat             2.0   2008 4   manual(m6) f   21  29  p
232 volkswagen   passat             2.8   1999 6   auto(l5)   f   16  26  p
233 volkswagen   passat             2.8   1999 6   manual(m5) f   18  26  p
234 volkswagen   passat             3.6   2008 6   auto(s6)   f   17  26  p
    class
1   compact
2   compact
3   compact
4   compact
5   compact
6   compact
7   compact
8   compact
9   compact
10  compact
11  compact
12  compact
13  compact
14  compact
15  compact
16  midsize
17  midsize
18  midsize
19  suv
20  suv
21  suv
22  suv
23  suv
24  2seater
25  2seater
26  2seater
27  2seater
28  2seater
29  suv
30  suv
⋮   ⋮
205 pickup
206 pickup
207 pickup
208 compact
209 compact
210 compact
211 compact
212 compact
213 compact
214 compact
215 compact
216 compact
217 compact
218 compact
219 compact
220 compact
221 compact
222 subcompact
223 subcompact
224 subcompact
225 subcompact
226 subcompact
227 subcompact
228 midsize
229 midsize
230 midsize
231 midsize
232 midsize
233 midsize
234 midsize

To correct this tidyverse has the `invisible()` function:

In [27]:
show_missings = function(df) {
  n <- sum(is.na(df))
  cat("Missing values: ", n, "\n", sep = "")
  invisible(df)  # return will not print out
}

Now we can run the command interactively, and also use it in pipelines:

In [28]:
show_missings(flights)

Missing values: 46595

In [29]:
flights %>% filter(month < 5) %>% show_missings

Missing values: 18387

## Environments
The environment is, roughly, the set of variables and data defined in your R session. The default environment is called the "global environment":

In [30]:
environment()

A function depends on the environment in which it was defined. In particular, if you reference a variable inside of a function, which is not *defined* in that function, R will look for it in the enclosing environment.

In [31]:
f = function(x) {
    x + y
}

x = c(1, 2, 3)
y = 3
f(x)

[1] 4 5 6

In [32]:
y = 4
f(x)

[1] 5 6 7

In [33]:
y = 4
x = 2
f(c(1, 2, 3))

[1] 5 6 7

In [34]:
f = function(x) {
    x = 2*x
    print(x)
}

x = 5
f(x)
x  # x is unchanged in the global environment even though we changed it inside the function

[1] 10

[1] 5

You can assign values to variables in the enclosing environment using the `<<-` notation.

In [35]:
f = function(x) {
    x = 2*x
    x <<- x
    
    print(x)
}

x = 5
f(x)
x  # x is now changed in the global environment since we used <<-

[1] 10

[1] 10

In [36]:
f = function(x) {
    y <<- x
    print(y)
}

y = 10
f(5)
y

[1] 5

[1] 5

### Challenge problem
Define a function `drop_even()` which drops all the even-numbered rows from a data frame:
```{r}
> tibble(x=c(1,2,3), y=c("a","b","c")) %>% drop_even
# A tibble: 2 x 2
      x y    
  <int> <chr>
1     1 a    
2     3 c    
```
Hint: Remember the modulo operator `%%` is very useful for checking for divisibility. Also you can use the function `row_number()` inside of a mutate to easily access the row numbers.

In [37]:
drop_even = function(df) {
    df_result = df %>% mutate(rownum = row_number()) %>%
        filter(rownum %% 2 != 0) %>%
        select(-rownum)
    return(df_result)
}

tibble(x=c(1,2,3), y=c("a","b","c")) %>% drop_even

  x y
1 1 a
2 3 c

### Challenge problem
Write a function `howmany()` which prints the number of times that it has been called:
```
> howmany()
[1] 1
> howmany()
[1] 2
> howmany()
[1] 3
```
Hint: You can use `exists('counter')` to check if the variable `counter` exists. Remember that if R can't find a variable in the current environment, it will also check the enclosing environment.

In [38]:
howmany = function() {
    if (exists('num')) {
        num <<- num + 1
    } else {
        num <<- 1
    }
    print(num)
}

howmany()
howmany()
howmany()

[1] 1
[1] 2
[1] 3


Harder: write a function `same(x)` which prints "yes!" if `x` is the same value that was passed into `same()` on the previous call, and "no!" otherwise. (`same()` always prints "no!" to start):
```{r}
> same(1)
[1] "no!"
> same(1)
[1] "yes!"
> same(1)
[1] "yes!"
> same("hello")
[1] "no!"
```

In [39]:
same = function(x) {
    if (exists('storage')) {
        if (x %in% storage) {
            print('yes!')
        } else {
            print('no!')
            storage <<- c(storage, x)
        }
    } else {
        storage <<- c(x)
    }
}

same(1)
same(1)
same(1)
same('hello')

[1] "yes!"
[1] "yes!"
[1] "no!"